html{
    background: beige;
}
body{
    width:90%;
    margin:1rem auto;
    padding:2rem;
    font-family:helvetica;
    font-size:1.25rem;
    line-height: 1em;
    border-radius: .75rem;
    background:#ddd;
    box-shadow: -2px -2px 2px #fff,2px 2px 2px #fff;
    
}
body:hover{
    box-shadow: -2px -2px 5px purple,2px 2px 5px purple;
}
#census{
    position: relative;
}
#cens-tip{
    position:absolute;
    z-index: 100;
    width:200px;
    height:auto;
    border-radius:10px;
    background:rgba(0,0,0,.4);
    opacity:0;
    padding:.15rem;
}
#cens-tip p{
    margin:0;
    padding:.15rem;
    font-family:helvetica;
    color:white;
}


.xgrp path, .ygrp path, .ygrp line{
    stroke-width: 1px;
    shape-rendering: crispEdges;
   
}
#tooltip{
    position: absolute;
    opacity:0;
    width:100px;
    height:auto;
    padding:10px;
    background:white;
    border-radius: 10px;
    pointer-events: none;
    z-index: 100;
    transition: all .2s ease-in-out;
}

.sort{
    display:block;
    background:skyblue;
    border-radius: 1rem;
    padding:.5rem;
    outline:none;
    margin:0;
    border:none;
    color:white;
}

#tooltip p{
font-family:cursive;
font-size:1rem;
}
.parent{
position: relative;;
}
#reach{
font-weight: bold;
}
nav{
    background:#ddd;
    box-shadow: -2px -2px 5px, #fff;
    height:auto;
    margin:.5rem;
    padding:.15rem;
    border-bottom: 1px solid red;
}
.main-nav{
    font-family:helvetica;
    font-size:1rem;
    
    list-style:none;
    display:flex;
    justify-content: space-evenly;
    align-items: stretch;
}
.main-nav a{
    display:block;
    text-decoration: none;
    color:black;
    cursor:pointer;
}

/*scatter plot*/
#main-scat{
    position:relative;

}

#scat-tooltip{
position: absolute;
width:100px;
background:white;
padding:.15rem;
margin:0;
border-radius: 5px;
height: auto;
opacity:0;
transition:all .3s ease-in-out;
}
#scat-tooltip p{
    padding:.15rem;
    margin:0;   
    
}
.xgrp path .xgrp line{
    stroke-width: 10px;
    stroke:#ddd;
}


/*line chart */
#line-root{
    position: relative;
    margin:1rem auto;

}
.line-tip{
    position: absolute;
    background:orange;
    border-radius:5px;
    opacity:0;
    width:100px;
    height:auto;
    color:white;
    padding:.2rem;
}

.line-tip p{
    padding:.15rem;
    margin:0;  

}


/*MEDIA QUERIES */
@media (max-width:480px) {
    nav{z-index:1030;}
    .main-nav{
        font-family:helvetica;
        font-size:1rem;        
        list-style:none;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:stretch;

    }
    .main-nav li{
        padding:.2rem;
    }
}
@media (min-width:481px) and (max-width:768px) {
    nav{z-index:1030;}
    .main-nav{
        font-family:helvetica;
        font-size:1rem;        
        list-style:none;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;

    }
    .main-nav li{
        padding:.2rem;
    }
}
